[submodule "LiDanyang"]
	path = LiDanyang
	url = git@github.com:ldyyukito/pre-pos.git
[submodule "PanChen"]
	path = PanChen
	url = git@github.com:SherryPann/pre-pos.git
[submodule "YangLin"]
	path = YangLin
	url = git@github.com:anlin-yang/pre-pos.git
[submodule "SunTianjing"]
	path = SunTianjing
	url = git@github.com:purpletianjing/pre-pos.git
[submodule "LiuXinyu"]
	path = LiuXinyu
	url = git@github.com:Carolineliu/pre-pos.git
[submodule "Xixi"]
	path = Xixi
	url = git@github.com:lotusscofield/pre-pos.git
[submodule "CaoRong"]
	path = CaoRong
	url = git@github.com:urnotchrissie/pre-pos.git
[submodule "YaoDanping"]
	path = YaoDanping
	url = git@github.com:AnliHuer/pre-pos-new.git
